* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

/* visualizer styling */
#visualizer {
  z-index: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* search styling */
#searchStuff {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

#searchResults {
  margin-top: 10px;
}

#resultsList > li {
  list-style-type: none;
  margin-bottom: 5px;
}

.noPreview {
  color: grey;
}

/* player styling */
#player {
  position: fixed;
  bottom: 0px;
  margin-right: 5px;
}

#audioPlayer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
